<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <% if (!username) { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/chat">Chat</a>
                <% } %>
                    <% if (username) { %>
                        <a href="/logout">Salir</a>
                        <% } %>
        </nav>
    </header>
    <main>
        <div class="lista-usuarios">
            <h2>Usuarios</h2>
            <ul id="user-list">
                <% users.forEach(user=> { %>
                    <li class="user-item">
                        <a href="#" onclick="startChat('<%= user.username %>')">
                            <div class="user-avatar">
                                <img src="/assets/icons/user-offline.svg" alt="<%= user.username %>" class="avatar">
                            </div>
                            <div class="user-info">
                                <span class="username">
                                    <%= user.username %>
                                </span>
                                <span
                                    class="online-status <% if (user.isOnline) { %> online<% } else { %> offline<% } %>">
                                    <% if (user.isOnline) { %>En línea<% } else { %>Desconectado<% } %>
                                </span>
                            </div>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <div class="pantalla-chat">
            <h1 class="titulo-chat"><span id="usuario-chat" class="titulo-chat"></span></h1>
            <ul id="messages"></ul>
            <div class="contenedor-archivos" id="contenedor-archivos" style="display: none;">

            </div>
            <form id="form" action="" class="form-chat" style="display: none;" enctype="multipart/form-data">
                <input type="hidden" id="username" value="<%= username %>">
                <input type="hidden" id="recept">
                <input id="input-message" autocomplete="off" placeholder="Escribe un mensaje..." />
                <label for="fileInput" class="custom-file-upload" id="btnAgregarArchivo">
                    <img src="/assets/icons/add.svg" alt="Add File" class="icon">
                </label> <input type="file" id="fileInput" name="file">
                <button id="send">
                    <img src="/assets/icons/send.svg" alt="Send" class="icon">
                </button>
            </form>
        </div>

    </main>
    <script src="../js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>
    <script>
        window.username = "<%= username %>";
    </script>
</body>

</html>